#call-block{
    background: var(--bg-block);
    padding: 25px 0;
}

#call-block .container{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    background: url('../images/call-block.png') no-repeat right center / contain;
    padding: 0 30% 0 0 ;
    min-height: 450px;
}

.call-phones{
    font-size: 38px;
}

.call-phones a{
    color: var(--green);
    text-decoration: none;
    font-weight: 600;
}