#chess-block{
    margin: 100px 0;
}

@media(max-width:776px){
    #chess-block{
        margin: 40px 0
    }
}

#chess-block article{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20px;
    margin: 0 0 60px
}

#chess-block article:nth-child(even){
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 20px
}


@media(max-width:776px){
    #chess-block article,
    #chess-block article:nth-child(even){
        grid-template-columns: 1fr;
        margin: 0
    }
    #chess-block figure{
        order: 1;
    }
    #chess-block div{
        order: 2;
    }
}

#chess-block h3{
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 30px;
    line-height: 1
}

@media(max-width:776px){
    #chess-block h3{
        font-size: 24px;
    }
}

#chess-block p{
    font-size: 22px;
    margin: 0 0 20px;
    font-weight: 400;
}

@media(max-width:776px){
    #chess-block p{
        font-size: 14px
    }
}

#chess-block p a{
    font-weight: 500;
    color: var(--green)
}

#chess-block p a:hover{
    text-decoration: none;
}