.contact-block{
    margin: 100px 0;
}

.frame{
    position: relative;
}

.frame iframe{
    width: 100%;
    margin-bottom: 40px;
}

.frame .iframe-route{
    margin: 0 0 75px;
    text-align: right;
}

.frame .iframe-route a{
    font-size: 22px;
    font-weight: 300;
    color: var(--gray-dark);
    border-bottom: 1px solid var(--gray-dark);
    text-decoration: none;
}

.frame .iframe-address{
    position: absolute;
    top:0;
    left:10px;
    bottom:0;
    width: 320px;
    background: var(--light);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

@media(max-width:776px){
    .frame .iframe-address{
        display: none;
    }
}

.frame .iframe-address > div{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 300;
}

.frame .iframe-address > div strong{
    font-weight: 500;
}