#feedback-block{
    /* background: var(--bg-block); */
    padding: 100px 0;
}

@media(max-width: 776px){
    #feedback-block{
        padding: 40px 0;
    }
}

#feedback-block .container{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    background: url('../images/feedback-block.svg') no-repeat left center / contain;
    padding: 0 0 0 40%;
    min-height: 450px;
}

@media(min-width:1240px) {
    #feedback-block .container{
        padding: 0 0 0 36%;
    }
}

@media(max-width: 996px){
    #feedback-block .container{
        padding: 0 0 0 50%;
    }
}

@media(max-width: 776px){
    #feedback-block .container{
        padding: 0;
        background: none;
    }
}

#feedback-block form{
    display: block;
    width: 100%;
}

#feedback-block input[type="text"],
#feedback-block textarea{
    padding: 25px;
    border: 1px solid var(--green);
    border-radius: var(--radius);
    background: none;
    width: 100%;
    margin: 0 0 20px;
    outline: none;
    font-size: 22px;
}

#feedback-block textarea{
    height: 260px;
    resize: none;
}

#feedback-block .send{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 100;
}

@media(max-width:996px){
    #feedback-block .send{
        display: block;
    }
}

@media(max-width: 776px){
    #feedback-block .send{
        display: flex;
        flex-flow: column;
    }
}

/* оцінка роботи */
.rating{
    display: inline-block;
}

@media(max-width:600px){
    .rating{
        margin: 10px 0
    }
}

.rating input[type="radio"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.rating input[type="radio"]+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.rating input[type="radio"]+label::before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 4.5805 4.3565' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath transform='translate(-129.25 -238.88)' d='m131.54 238.88 0.54046 1.6641h1.7498l-1.4153 1.0283 0.54045 1.6641-1.4153-1.0284-1.4153 1.0284 0.54045-1.6641-1.4153-1.0283h1.7494z' fill='%23999'/%3E%3C/svg%3E");
}

@media(max-width: 600px){
    .rating input[type="radio"]+label::before{
        width: 26px;
        height: 26px;
    }
}

.rating input[type="radio"]:checked+label::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 4.5805 4.3565' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath transform='translate(-129.25 -238.88)' d='m131.54 238.88 0.54046 1.6641h1.7498l-1.4153 1.0283 0.54045 1.6641-1.4153-1.0284-1.4153 1.0284 0.54045-1.6641-1.4153-1.0283h1.7494z' fill='%23fbb03b'/%3E%3C/svg%3E");
}

#feedback-block button{
    cursor: pointer;
}

::placeholder {
    font-size: 22px;
    font-weight: 100;
}