
/* основне меню */
#menu-block{
    background: var(--bg-block);
    padding: 35px 0;
}

#menu-block .container{
    grid-template-columns: auto 1fr;
    align-items: center;
    color: var(--green-ultralight);
}

@media(max-width: 1240px){
    #menu-block .container{
        grid-template-columns: 1fr;
    }
}

#menu-arrow{
    color: var(--green);
    font-size: 22px;
}

/* @media(max-width:1240px){
    #menu-arrow{
        display: none;
    }
} */

#menu-arrow::after{
    content: '\2023';
    color: var(--green);
    display: inline-block;
    position: relative;
    top: 2px;
}

/* #mobile-nav{
    display: none;
}

@media(max-width: 1240px){
    #mobile-nav{
        display: block;
    }
} */

#mobile-nav span{
    /* icon */
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

@media(max-width: 1240px){
    #nav{
        display: none;
    }
}

#nav a{
    color: var(--green);
    font-size: 18px;
    text-decoration: none;
    margin: 0 25px 0 0;
    padding: 0 0 0 25px;

    border-left: 1px solid var(--green-ultralight);
    text-align: center;
    transition: .5s
}

#nav a:first-child{
    border:none;
}

#nav a:hover{
    color: var(--dark);
}