/* logo + quick links */
#nav-block{
    background: var(--gray-light);
    padding: 20px 0;
}

#nav-block .container{
    grid-template-columns: auto 1fr;
    align-items: center; 
}

.logo{}

#mobile-nav-links{
    display: none;
}

@media(max-width: 1240px){
    #mobile-nav-links{
        display: block;
        text-align: right;
    }
}

#mobile-nav-links svg{
    width: 30px;
    position: relative;
    z-index: 100;
    fill: var(--green)
}

/* на кнопку клікнули */
#mobile-nav-links.active svg{
    position: fixed;
    right: 10px;
    top: 35px;
    fill: var(--light);
}

#nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width: 1240px){
    #nav-links{
        display: none;
    }
}

/* показуємо меню на мобільному */
#nav-links.show{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 95;
    padding: 20px;
    background: var(--green-ultralight);
    display: flex;
    flex-flow: column;
}

#nav-links a{
    color: var(--gray-dark);
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

#nav-links.show a{
    color: var(--light);
}

#nav-links a:hover{
    color: var(--green);
    text-shadow: 0 0 15px rgba(3, 104, 56, 0.25);
}