/* logo + quick links */
#nav-block{
    background: var(--gray-light);
    padding: 20px 0;
}

#nav-block .container{
    grid-template-columns: auto 1fr;
    align-items: center; 
}

.logo{}

#mobile-nav-links{
    display: none;
}

@media(max-width: 1240px){
    #mobile-nav-links{
        display: block;
    }
}

#nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width: 1240px){
    #nav-links{
        display: none;
    }
}

#nav-links a{
    color: var(--gray-dark);
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

#nav-links a:hover{
    color: var(--green);
    text-shadow: 0 0 15px rgba(3, 104, 56, 0.25);
    /* text-shadow: 0 0 15px rgba(255, 255, 255, 1); */
    /* color: var(--light) */
}