
/* quick-contacts + buttton kaktuz */
#promo-block{
    background: var(--light);
    padding: 40px 0;
}

#promo-block .container{
    align-items: center;
    grid-template-columns: repeat(3,1fr) 2fr;
    grid-gap: 20px;
}

.to-shop{
    text-align: right;
}

.to-shop svg{
    width: 44px;
}