
/* quick-contacts + buttton kaktuz */
#promo-bar{
    background: var(--light);
    padding: 40px 0;
}

#promo-bar .container{
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}

#promo-bar svg{
    margin: 0 0 10px;
}

#promo-bar p{
    margin: 10px 0;
}

/* 3 вертикальні іконки */
.icons-vertical{
    display: flex;
    align-items: center;
    flex-flow: column;
}