/* ///////
start root
/////// */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');


*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --light: #fff; /* білий */
    --dark: #1a1a1a; /* чорний */

    --green-ultralight: #88a092; /* риска в меню */
    --green-light: #89a192;
    --green: rgb(3, 104, 56);
    --green-dark: #006837; /* іконки, півжирний заголовок, пункт меню */ /* 009245 */

    --gray-ultralight: #808080; /* від 250 грн */
    --gray-light: #f2f2f2; /* navbar, footer */
    --gray: #4e4d4d;
    --gray-dark: #333; /* текст */

    --bg-block: #e1ede6; /* окремий блок з фоном, menubar */
    --gradient: linear-gradient(90deg, #006837 0%, #009245 100%); /* градієнт для кнопки*/
    --gradient-reverce: linear-gradient(90deg, #009245 0%, #006837 100%);
    --radius: 50px;

    --purpur: #6359a7; /* фіолетова кнопка */
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-dark);
    position: static;
}

body.fixed{
    overflow: hidden;
}

a,
button:hover{
    transition: .5s;
}

img{
    max-width: 100%!important;
}

.text-green a:hover{
    text-decoration: none;
}

/* grid */
.container{
    display: grid;
    width: 1200px;
    margin: auto;
}

@media(max-width:1250px){
    .container{
        width: 95%;
    }
}

/* green button */
.button{
    display: inline-block;
    background: var(--gradient);
    padding: 15px 25px;
    border-radius: var(--radius);
    color: var(--light);
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(3,104,56,.5);
    outline: none;
    cursor: pointer;
    border: none;
}

.button:hover{
    background: var(--gradient-reverce);
}

/* white button */
.button.bg-white{
    background: var(--light);
    color: var(--gray-dark);
    border: 2px solid var(--green);
    padding: 14px 23px;
    box-shadow: none;
}

.button.bg-white:hover{
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 100%);
}

/* фіолетова кнопка */
.button.purpur{
    background: var(--purpur);
}

h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
}

.title{
    text-align: center;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    margin: 0 0 40px;
    font-weight: bold;
}

@media(max-width: 996px){
    .title{
        font-size: 30px;
    }
}

.title-left{
    text-align: left;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    margin: 0 0 40px;
    font-weight: bold;
}

@media(max-width: 996px){
    .title-left{
        font-size: 30px;
    }
}

@media(max-width: 500px){
    .title-left{
        font-size: 26px;
    }
}

/* підпис під заголовком */
.lead{
    font-weight: 300;
    font-size: 22px;
    margin: 0 auto 40px;
    width: 80%;
    text-align: center;
}

@media(max-width: 996px){
    .lead{
        font-size: 18px;
        line-height: 1.8;
    }
}

@media(max-width: 776px){
    .lead{
        width: 100%;
        margin: 0 auto 20px;
    }
}

@media(max-width: 500px){
    .lead{
        font-size: 16px;
    }
}

.lead p{
    margin: 0 0 40px;
}

@media(max-width: 776px){
    .lead p{
        margin: 0 0 20px;
    }
}

.lead-left{
    font-weight: 300;
    font-size: 22px;
    margin: 0 0 40px;
    width: 80%;
    text-align: left;
}

@media(max-width: 996px){
    .lead-left{
        font-size: 18px;
        line-height: 1.8;
        margin: 0 0 20px;
    }
}

@media(max-width:776px){
    .lead-left{
        width: 100%;
    }
}

@media(max-width: 500px){
    .lead-left{
        font-size: 16px;
    }
}

.lead-left p{
    margin: 0 0 40px;
}

@media(max-width: 776px){
    .lead-left p{
        margin: 0 0 20px;
    }
}

.bg-green{
    background: var(--bg-block);
}

.bg-light{
    background: var(--light);
}

/* блок з іконкою вгорі */
.contact{
    text-align: center;
}

.contact a{
    color: var(--green);
    text-decoration: underline;
}

.contact a:hover{
    text-decoration: none;
}

.contact svg{
    /* margin: 0 0 10px; */
    height: 26px;
}

.contact p{
    margin: 10px 0;
}

/* 3 вертикальні іконки */
.icons-vertical{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.icons-vertical svg{
    margin: 0 0 10px;
}

.edit{
    position: fixed;
    bottom: 0;
    left: 0;
    background: maroon;
    font-weight: 800;
}

.edit a{
    padding: 5px;
    color: var(--light);
    text-decoration: none;
    display: inline-block;
}

/* /////
end root
///// */