#search-block{
    margin: 100px 0;
    padding: 40px 0;
}

#search-block .container{
    display: flex;
    align-items: center;
}

@media(max-width:996px){
    #search-block .container{
        display: block;
    }    
}

#search-block input[type="number"],
#search-block input[type="text"]{
    border: none;
    border-bottom: 1px solid var(--green);
    outline: none;
    background: transparent;
    padding: 10px 0;
    width: 600px;
    margin: 0 100px 0 0;
    font-size: 22px;
    color: var(--dark);
    font-weight: 300;
}

@media(max-width:996px){
    #search-block input[type="number"],
    #search-block input[type="text"]{
        width: 95%;
        margin: 0 0 40px;
    }
}

#search-block a{
    display: inline-block;
}

::placeholder{
    font-size: 18px;
    /* color: var(--dark); */
    font-weight: 300;
}

/* живий пошук */

/* пошук з блоком для виводу живого пошуку */
.search{
    position: relative;
}

input[type="search"] {
    border: 3px solid var(--green);
    outline: none;
    width: 100%;
    border-radius: var(--radius);
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23036838'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 24px 24px;
    padding: 15px 20px 14px;
}

input[type="search"].active{
    background: var(--light);
}