
/* slider */
#slider-block{
    padding: 140px 0;
}

@media(max-width: 776px){
    #slider-block{
        padding: 40px 0;
    }
}

#slider-block .container{
    display: block;
}

#slider-block .item{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:776px){
    #slider-block .item{
        flex-flow: column;
    }
}

#slider-block .item-text{
    width: 55%;
}

@media(max-width: 776px){
    #slider-block .item-text{
        width: 100%;
    }
}

#slider-block .item-image{
    width: 45%;
}

@media(max-width: 776px){
    #slider-block .item-image{
        width: 100%;
        margin: 20px 0 0
    }
}

#slider-block h3{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 30px;
}

@media(max-width: 500px){
    #slider-block h3{
        font-size: 28px;
        text-align: center;
    }
}

#slider-block .item-desc{
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 70px;
}

@media(max-width: 500px){
    #slider-block .item-desc{
        font-size: 18px;
        text-align: center;
        margin: 0 0 40px;
    }
}

#slider-block .item-buttons{
    display: flex;
    align-items: flex-start;
    margin: 0 0 70px;
}

@media(max-width: 400px){
    #slider-block .item-buttons{
        flex-flow: column;
        align-items: center;
        margin: 0 0 40px;
    }
}

#slider-block .item-buttons a{
    margin: 0 30px 0 10px;

    display: inline-block;
    padding: 15px 25px;
    border-radius: var(--radius);
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    background: var(--light);
    color: var(--gray-dark);
    border: 2px solid var(--green);
    padding: 14px 23px;
}

#slider-block .item-buttons a:hover{
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 100%);
}

@media(max-width: 400px){
    #slider-block .item-buttons a{
        margin: 0 0 20px;
    }
}

#slider-block .item-buttons a:first-child{
    background: var(--gradient);
    color: var(--light);
    font-size: 13px;
    box-shadow: 0 10px 20px rgba(3,104,56,.5);
}

#slider-block .item-buttons a:first-child:hover{
    background: var(--gradient-reverce);
}

#slider-block .item-list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 500px){
    #slider-block .item-list ul{
        flex-flow: column;
    }
}

#slider-block .item-list li{
    display: block;
}

@media(max-width: 500px){
    #slider-block .item-list li{
        margin: 10px 0
    }
}

@media(max-width: 500px){
    #slider-block .item-list br{
        display: none;
    }
}