
/* slider */
#slider-block{
    padding: 140px 0;
}

#slider-block .container{
    display: block;
}

#slider-block .item{
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider-block .item-text{
    width: 55%;
}

#slider-block .item-image{
    width: 45%;
}

#slider-block h3{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    /* letter-spacing: -2px; */
    margin: 0 0 30px;
}

#slider-block .item-desc{
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 70px;
}

#slider-block .item-buttons{
    display: flex;
    align-items: flex-start;
    margin: 0 0 70px;
}

#slider-block .item-buttons .button{
    margin: 0 30px 0 10px;
}

#slider-block .item-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#slider-block .item-list li{
    display: block;
}