#table-block{
    margin: 100px 0;
}

#table-block table{
    width: 100%;
    border-bottom: 12px solid var(--bg-block);
}

#table-block table,
#table-block tr,
#table-block td{
    border-collapse: collapse;
}

#table-block td{
    padding: 20px 30px;
    font-size: 22px;
    font-weight: 300;
}

@media(max-width: 776px){
    #table-block td{
        padding: 10px;
        font-size: 16px;
    }
}

#table-block tr{
    border-top: 1px solid var(--bg-block);
}

#table-block tr:first-child{
    border-top: none;
}

#table-block thead{
    background: var(--bg-block);
    text-align: left;
}

#table-block thead td{
    padding: 30px;
    font-size: 28px;
    color: var(--green);
    font-weight: 500;
}

@media(max-width: 776px){
    #table-block thead td{
        padding: 10px;
        font-size: 18px;
    }
}

/* обгортка для таблиці */
.horizontal-scroll{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}