#text-block{
    margin: 100px 0;
}

#text-block ul {
    list-style: none;
}

#text-block li{
    margin: 30px 0;
    padding-left: 40px;
    position: relative;
    font-size: 22px;
    font-weight: 300;
}

#text-block ul li:before {
    content: '';
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 12.087 12.087' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath transform='translate(-18.903 -19.57)' d='m30.335 31.002c-0.20144 0.20144-0.50377 0.20144-0.7052 0l-0.70521-0.7052 0.70521-0.70485 0.7052 0.70485c0.20144 0.20143 0.20144 0.50376 0 0.7052m-4.9862-4.281 0.7052-0.7052 3.2233 3.2233-0.7052 0.7052zm-4.5829 2.3671 3.4248-3.4248 0.7052 0.70521-3.4248 3.4248zm-0.35277 1.7628c-0.20109 0.20144-0.50342 0.20144-0.70485 0-0.20144-0.20143-0.20144-0.50377 0-0.7052l0.70485-0.7052 0.70555 0.7052zm5.7414-7.1519c0.1009 0.15134 0.20179 0.25188 0.30233 0.40287 0.1009 0.10089 0.25189 0.25188 0.40288 0.30233l-1.2086 1.2086-0.7052-0.70485zm0.70521-2.8201 0.35242-0.35278c0.45367-0.45332 1.1585-0.55386 1.7124-0.30197l-1.3596 1.3596c-0.40287 0.40287-0.40287 1.0075 0 1.4104s1.0072 0.40287 1.4104 0l1.3596-1.36c0.25188 0.60431 0.15099 1.2591-0.30198 1.7628l-0.35278 0.35242c-0.80574 0.80575-2.0648 0.80575-2.8709 0-0.7553-0.80574-0.7553-2.0648 0.0504-2.8706m-0.50342 4.7339 0.95674-0.95674c0.90663 0.35243 1.9643 0.15099 2.7199-0.55421l0.35243-0.35243c0.80574-0.80574 0.80574-2.0648 0-2.8706l-0.35243 0.35243-1.4104 1.41c-0.20144 0.20144-0.50377 0.20144-0.70521 0-0.20143-0.20144-0.20143-0.50341 0-0.70485l1.7628-1.7628c-0.80574-0.80575-2.0648-0.80575-2.8709 0l-0.35243 0.35242c-0.7052 0.70521-0.90663 1.8133-0.55386 2.7196l-1.3095 1.3095-4.7343-4.7339-0.95673-0.25188 0.25188 0.95673 4.7339 4.7343-4.5328 4.5328c-0.40287 0.40288-0.40287 1.0072 0 1.4101 0.40322 0.40287 1.0075 0.40287 1.4104 0l4.1801-4.1801 4.3314 4.331c0.40287 0.40288 1.0072 0.40288 1.4104 0 0.40287-0.40287 0.40287-1.0072 0-1.41z' fill='%23006837'/%3E%3C/svg%3E");
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
}